<h2>Blokkerte nummer</h2>


{% if message is defined %}
	<div class="alert alert-{{ message.success ? 'success' : 'danger'}}">
		{{ message.message }}
	</div>
{% endif %}

<fieldset>
	<legend>Blokker et nummer</legend>
	<form method="POST">
		<div class="form-group" style="width: 200px">
			Nummer:
			<input type="tel" length="8" class="form-control" name="number" />
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-submit">Blokkér</button>
		</div>
	</form>
</fieldset>

<div style="width:97%">
	<fieldset>
		<legend>Blokkerte numre</legend>
		<ol class="list-group">
			{% for blokkert in blokkerte %}
				<li class="list-group-item">
					<div class="float-right pull-right small">
						{{ blokkert.timestamp }}
						&nbsp; 
						<a href="?page=UKMsmsblokkert&delete={{ blokkert.id }}" class="btn btn-xs btn-danger">Opphev blokkering</a>
					</div>
					{{ blokkert.number }}
					<div class="clearfix"></div>
				</li>
			{% else %}
				<li class="list-group-item">
					Ingen nummer er blokkert
				</li>
			{% endfor %}
		</ol>
	</fieldset>
</div>