<form method="POST">
	<h3>Fakturagrense SMS</h3>
	<div class="form-group">
		<label for="name">Hvilket beløp må mønstringen ha sendt sms for før de skal faktureres?</label>
		<p>
		    Minimumsbeløpet beregnes etter {{ forfree }} gratis-SMS er trukket fra. <br />
		    Dvs at beløpsgrensen angir hvor mye penger den gitte mønstringen må ha brukt <u>utover</u> 
		    {{ forfree }} gratis SMS før de skal vises i faktureringslisten nedenfor.
        </p>
		<br />
		kr. <input type="number" id="UKMmateriell_sms_invoice_threshold" name="UKMmateriell_sms_invoice_threshold" value="{{sms_invoice_threshold}}"> eks mva
	</div>

	<div class="form-group">
		<button class="btn btn-success btn-lg" type="submit">Lagre</button>
	</div>
</form>

<h3>Mønstringer som har sendt SMS for mer enn kr. {{ sms_invoice_threshold }} i {{ season }}-sesongen</h3>
<p>Beløpet som vises er den totale summen mønstringen har sendt SMS for, beregnet <u>etter</u> {{ forfree }} gratis SMS er trukket fra, men inkludert minimumsbeløpet kr. {{ sms_invoice_threshold }}.</p>
<p>&nbsp;</p>
<a href="{{ excel.link }}" target="_blank" class="btn btn-primary">Last ned som excel-ark</a>
<p>&nbsp;</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Mønstring</th>
			<th>Kroner</th>
		</tr>
		<tr class="alert-info">
			<th>TOTAL</th>
			<th>{{ total|kroner }},-</th>
		</tr>
	</thead>
	<tbody>
		{% for monstring in monstringer %}
			<tr>
				<td>{{ monstring.getAttr('invoiceName') }}</td>
				<td>{{ monstring.getAttr('creditsAsKroner')|kroner }},-</td>
			</tr>
		{% else %}
			<tr><th>Ingen mønstringer</th></tr>
		{% endfor %}
	</tbody>
</table>